body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #000;
  overflow: hidden;
  height: 100vh;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding: 0px;
}

.video-container {
  flex: 1 1 calc(33% - 6px);
  aspect-ratio: 16 / 9;
  max-width: 33%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#liveAllBtn,
#togglePlayBtn,
#toggleMuteBtn {
  position: fixed;
  top: 10px;
  z-index: 999;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100px;
  height: 30px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid;
}

#liveAllBtn {
  right: 230px;
  background-color: #8B0000;
  color: black;
  border-color: red;
}

#togglePlayBtn {
  right: 120px;
  background-color: #000;
  color: #006400;
  border-color: #006400;
}

#toggleMuteBtn {
  right: 10px;
  background-color: #000;
  color: red;
  border-color: red;
}
