body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #00aaff;
}

header p {
    margin: 5px 0 0;
    color: #aaa;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #2b2b2b;
    border-radius: 8px;
}

h2 {
    color: #00aaff;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding-bottom: 5px;
}

.job ul {
    list-style: disc; /* Use standard bullet points */
    padding-left: 20px; /* Adjust padding to make bullets visible */
}

.job ul li {
    padding-bottom: 5px; /* Keep existing padding for list items */
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    margin-bottom: 5px;
}

.job p {
    margin: 0 0 10px;
}

a {
    color: #00aaff;
}

a:hover {
    color: #0077cc;
}
